python==3.8.17

conda install pytorch==1.11.0 torchvision==0.12.0 torchaudio==0.11.0 cudatoolkit=11.3 -c pytorch
pip install pandas
conda install transformers
pip install facenet-pytorch
pip install torch-scatter torch-cluster torch-spline-conv
pip install torch-sparse==0.6.14
pip install torch-geometric==1.7.2
pip install ipdb
pip install sentence-transformers
conda install matplotlib
pip install scikit-image
conda install loguru
pip install wandb
